
//변수지정
$default-space:16px;
$white: #fff;
$header-height:80px;
$bgcolor:black;


//믹스인선언
@mixin flexlbox($direction:row, $justify:space-between, $align:center ) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

.inner_container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

body{
    font-size: 14px;
    font-family: "맑은 고딕" , sans-serif;
    line-height: 1.6;
}



header{
    

    #top_gnb{
        border-bottom: 1px soil #ccc;

        > div:nth-child(1){
        @include flexlbox( $justify:flex-end);
        height: 50px;
    }

    > div:nth-child(1) ul{
        @include flexlbox( );
    }

    }

    > div:nth-child(1) li{
        padding: 0 10px;
    }

    #top_menu{
        @include flexlbox( );
        height: 120px;
        input{
            border: 1px solid #ccc;
        }

        ul{
            display: flex;
        li{
            padding: 0 20px;
        }
        li::after{
            content: "";
            display: block;
            width: 100%;
            height: 3px;
            background-color: #cb0000 ;
            transform: scale(0,1);
            transition: 0.5s;
        }
        li:hover:after{
            transform: scale(1,1);
        }
        }
    }

    
}

main section{
    padding:  60px 0;
}

#visual{
.title{
    text-align: center;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    line-height: 1.2;
    padding-bottom: 40px;

    h2{
        font-size: 48px;
        padding-bottom: 20px;
    }
    p{
        font-size: 22px;
    }

}
background-color: rgb(255,204,0);
color: #fff;
img{width: 100%;}

}

#info{
    ul{@include flexlbox( );
    li{width: 25%;
    text-align: center;
    img{
        width: 100%;
            }
        a{border: 1px solid rgb(0,132,203) ;
        width: 120px;
        line-height: 40px;
        display: inline-block;
        :hover{
                background-color: rgb(0,132,203);
                color: #fff;
                }    
            }
        }
    }
    p{padding-bottom: 20px;}
    h3{padding-top: 20px;}
}

#blog{
    background-color: #efefef;
    ul{
        @include flexlbox( );
    li{
        width: 24%;
        background-color: #fff;
        img{
            width: 100%;
            }
            > div:nth-child(1){
                position: ;
            }
        }
    }

}

.text{padding: 10px;}



